<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>ISO Nodes</title>
		
		<link rel="shortcut icon" href="#">
		<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.css"/>
		<script src="../../js/jquery-3.6.0.min.js"></script> 
		<script src="../../js/bootstrap.js"></script>
		<script type="text/javascript" charset="utf8" src="../../plugins/datatables/datatables.js"></script>
	    <link rel="stylesheet" type="text/css" href="../../plugins/datatables/datatables.css">
	    <link rel="stylesheet" type="text/css" href="../../css/dataTables.bootstrap4.min.css">

		<script>
			
			$(document).ready( function () {
				$('#navBarNodes a').addClass('active');
				
				let isoChannels;
				let isoTemplates;
				
				//CARGA DE LA DATA PARA LOS SELECT
				$.ajax({
					url: 'isotemplates/listTemplates',
					type: 'GET',
					processData: false,
					contentType: 'application/json',
					dataType: 'json',
					data: JSON.stringify(),
					success: function(data, status, jqXHR) {
						 isoTemplates = data.ltObjs;						
						 data.ltObjs.forEach(function(element, index, array) {
							 $('#isoTemplateIdModal').append('<option value="' + element.isoTemplateId + '">' + element.isoTemplateName + '</option>');
						 });
					}
				});
				
				$.ajax({
					url: 'isochannels/listChannels',
					type: 'GET',
					processData: false,
					contentType: 'application/json',
					dataType: 'json',
					data: JSON.stringify(),
					success: function(data, status, jqXHR) {
						 isoChannels = data.ltObjs;
						 data.ltObjs.forEach(function(element, index, array) {
							 $('#isoChannelIdModal').append('<option value="' + element.isoChannelId + '">' + element.isoChannelName + '</option>');
						 });
					}
				});
				
				$('#isoChannelIdModal').change(function() {
					let selectedChannel = $('#isoChannelIdModal option:selected').val();
					if ('' == selectedChannel)
						$('#isoChannelHelp span').text('');
					else 
						$('#isoChannelHelp span').text(isoChannels[isoChannels.findIndex(v => v.isoChannelId == selectedChannel)].isoChannelDescription);
				});
				
				$('#isoTemplateIdModal').change(function() {
					let selectedTemplate = $('#isoTemplateIdModal option:selected').val();
					if ('' == selectedTemplate)
						$('#isoTemplateHelp span').text('');
					else 
						$('#isoTemplateHelp span').text(isoTemplates[isoTemplates.findIndex(v => v.isoTemplateId == selectedTemplate)].isoTemplateDescription);
				});
				
				$('#isoNodeTypeModal').change(function() {
					if ('S' === $('#isoNodeTypeModal option:selected').val()) {
						$('#isoNodeHostModal').val('');
						$('#isoNodeHostModal').attr('readonly', true);
					} else {
						$('#isoNodeHostModal').attr('readonly', false);
					}
				});
				
				//TOASTS
				let st = document.getElementById('successToast');
				let successToast = bootstrap.Toast.getOrCreateInstance(st);
				let ft = document.getElementById('failedToast');
				let failedToast = bootstrap.Toast.getOrCreateInstance(ft);
				
				/**
				** DATATABLE ISO TEMPLATE
				**/
				let nodeTable = $('#nodeTable').DataTable({
					ajax: {
						url: 'isonodes/listNodes',
						type: 'GET',
						dataSrc: 'ltObjs',
					},
					idSrc: 'isoNodeId',
					columns: [
						{
							className: 'dt-control',
							orderable: false,
							data: null,
							defaultContent: ''
						},
						{data: 'isoNodeName'},
						{
							data: 'isoNodeType',
							render: function(data, type, row) {
								return ('S' === data) ? 'Server' : 'Client';
							}
						},
						{
							data: 'isoNodeHost',
							render: function(data, type, row) {
								return (null === data) ? '' : data;
							}
						},
						{data: 'isoNodePort'},
						{
							data: 'isoNodeIsStarted',
							render: function(data, type, row) {
								return (data) ? 'Started' : 'Closed';
							}
						},
						{
							data: 'isoTemplateId',
							render: function(data, type, row) {
								return row.isoTemplateId.isoTemplateName;
							}
						},
						{
							data: 'isoNodeVisibility',
							render: function(data, type, row) {
								return ('U' === data) ? 'Only Me' : 'Anyone';
							}
						},
						{
							data: 'lastUpdated',
							render: function(data, type, row) {
								if (undefined === data || null === data || '' === data)
									return '';
								return new Date(data).toLocaleString();
							}
						},
					]
				});
				
				nodeTable.on('click', 'td.dt-control', function (e){
					let tr = e.target.closest('tr');
					let row = nodeTable.row(tr);
					
					if (row.child.isShown())
						row.child.hide();
					else 
						row.child(format(row.data())).show();
				});
				
				$('#nodeTable tbody').on('click', 'tr', function () {
			        if ($(this).hasClass('selected')) {
			            $(this).removeClass('selected');
			            $('#editNode').addClass('disabled');
			            $('#resyncNode').addClass('disabled');
			            $('#startNode').addClass('disabled');
			            $('#stopNode').addClass('disabled');
			        }else {
			        	nodeTable.$('tr.selected').removeClass('selected');
			            $(this).addClass('selected');
			            $('#editNode').removeClass('disabled');
			            $('#resyncNode').removeClass('disabled');
			            
			            let data = nodeTable.row('.selected').data();
			            if (data.isoNodeIsStarted) {
				            $('#startNode').addClass('disabled');
				            $('#stopNode').removeClass('disabled');
			            } else {
				            $('#startNode').removeClass('disabled');
				            $('#stopNode').addClass('disabled');
			            }
			        }
			    });
				
				let modalNode = document.getElementById('nodeModal');
			    let nodeModal = new bootstrap.Modal(modalNode);
				let fInput = document.getElementById('isoNodeNameModal');
				
				modalNode.addEventListener('show.bs.modal', function () {
				  let form = $('#formNodeModal')[0];
				  form.classList.remove('was-validated');
				  fInput.focus();
				  
				  form.reset();
				  $('#isoChannelIdModal').change();
				  $('#isoTemplateIdModal').change();
				  
				  let button = event.relatedTarget;
				  
				  if (null === button || typeof button == 'undefined')
					  return;
				  
				  let action = button.getAttribute('data-bs-action');
				  let modalTitle = modalNode.querySelector('.modal-title');
				  
				  if (action === 'add') {
					  modalTitle.textContent = "Add Node";
					  nodeTable.$('tr.selected').removeClass('selected');
				  } else 
					  modalTitle.textContent = "Edit Node";
				  
				});
				
				$('#editNode').click(function () {
			    	let data = nodeTable.row('.selected').data();
			    	if ('undefined' === typeof data || null === data)
			    		return;
			    	
			    	$('#isoNodeNameModal').val(data.isoNodeName);
			    	$('#isoNodeTypeModal').val(data.isoNodeType);
			    	$('#isoNodeHostModal').val(data.isoNodeHost);
			    	$('#isoNodePortModal').val(data.isoNodePort);
			    	$('#isoNodeVisibilityModal').val(data.isoNodeVisibility);
			    	$('#isoNodeDescriptionModal').val(data.isoNodeDescription);
			    	$('#isoNodeTimeOutModal').val(data.isoNodeTimeOut);
			    	$('#isoNodeReconnectDelayModal').val(data.isoNodeReconnectDelay);
			    	$('#isoChannelIdModal').val(data.isoChannelId.isoChannelId);
			    	$('#isoTemplateIdModal').val(data.isoTemplateId.isoTemplateId);
			    });
				
				$('#btnSaveNodeModal').click(function () {
					let form = $('#formNodeModal')[0];
					if (form.checkValidity()) {
// 						form.classList.add('was-validated');
				    	
						let objJson = {
							'isoNodeName': $('#isoNodeNameModal').val(),
							'isoNodeType': $('#isoNodeTypeModal option:selected').val(),
							'isoNodeHost': $('#isoNodeHostModal').val(),
							'isoNodePort': $('#isoNodePortModal').val(),
							'isoNodeVisibility': $('#isoNodeVisibilityModal option:selected').val(),
							'isoNodeDescription': $('#isoNodeDescriptionModal').val(),
							'isoNodeTimeOut': $('#isoNodeTimeOutModal').val(),
							'isoNodeReconnectDelay': $('#isoNodeReconnectDelayModal').val(),
							'isoChannelId': {'isoChannelId': $('#isoChannelIdModal option:selected').val()},
							'isoTemplateId': {'isoTemplateId': $('#isoTemplateIdModal option:selected').val()}
						}
						
						let data = nodeTable.row('.selected').data();
				    	if ('undefined' !== typeof data && null !== data) {
				    		objJson['isoNodeId'] = data.isoNodeId;
				    		objJson['isoNodeOwner'] = data.isoNodeOwner;
				    		objJson['updatedBy'] = data.updatedBy;
				    	}

						$.ajax({
							url: 'isonodes/saveNode',
							type: 'POST',
							processData: false,
							contentType: 'application/json',
							dataType: 'json',
							data: JSON.stringify(objJson),
							complete: function(data, status, jqXHR) {
								nodeTable.ajax.reload();
								$('#btnCloseNodeModal').click();
							},
							success: function(data, status, jqXHR) {
								successToast.show();
							},
							error: function(data, status, jqXHR) {
								failedToast.show();
							} 
						});
						return false;
					}
				});
				
				$('#resyncNode').click(function() {
					let data = nodeTable.row('.selected').data();
					if ('undefined' !== typeof data && null !== data) {
						$.ajax({
							url: 'isonodes/resyncNode',
							type: 'POST',
							processData: false,
							contentType: 'application/json',
							dataType: 'json',
							data: JSON.stringify(data),
							complete: function(data, status, jqXHR) {
								successToast.show();
							},
						});
					}
				});
				
				$('#startNode').click(function() {
					let data = nodeTable.row('.selected').data();
					if ('undefined' !== typeof data && null !== data) {
						$.ajax({
							url: 'isonodes/startNode',
							type: 'POST',
							processData: false,
							contentType: 'application/json',
							dataType: 'json',
							data: JSON.stringify(data),
							complete: function(data, status, jqXHR) {
								$('#startNode').addClass('disabled');
								nodeTable.ajax.reload();
								successToast.show();
							}
						});
					}
				});
				
				$('#stopNode').click(function() {
					let data = nodeTable.row('.selected').data();
					if ('undefined' !== typeof data && null !== data) {
						$.ajax({
							url: 'isonodes/stopNode',
							type: 'POST',
							processData: false,
							contentType: 'application/json',
							dataType: 'json',
							data: JSON.stringify(data),
							complete: function(data, status, jqXHR) {
								$('#stopNode').addClass('disabled');
								nodeTable.ajax.reload();
								successToast.show();
							}
						});
					}
				});
				
				//queda pendiente el start and stop
				function format(d) {
					return ('<dl>' +
							'<dt>Owner: </dt>' +
							'<dd>' + d.isoNodeOwner.userName + '</dd>' +
							'<dt>Iso Channel: </dt>' +
							'<dd>' + d.isoChannelId.isoChannelName + '</dd>' +
							'<dt>Time Out: </dt>' +
							'<dd>' + d.isoNodeTimeOut + '</dd>' +
							('C' === d.isoNodeType ?
									'<dt>Reconnect Delay: ' +
									'<dd>' + d.isoNodeReconnectDelay + "</dd>"
								:
									''
							) +
							'<dt>Description: </dt>' +
							'<dd>' + d.isoNodeDescription + '</dd>' +
							'<dt>Updated By: </dt>' +
							'<dd>' + d.updatedBy.userName + '</dd>' +
							'</dl>');
				}
				
			} );
			let myConsole = {};
		</script>
		<style></style>
	</head>
	<body>
		<div th:replace="~{/menu}">&nbsp;</div>
		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-0">
			<div class="card">
				<div class="card-header">ISO Nodes</div>
				<div class="card-body">
					<table id="nodeTable" class="table table-striped table-hover">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Node Type</th>
								<th>Host / IP</th>
								<th>Port</th>
								<th>Is Started?</th>
								<th>Iso Template</th>
								<th>Visibility</th>
								<th>Last Updated</th>
							</tr>
						</thead>
					</table>
					<div class="btn-group" role="group" aria-label="Options">
						<button type="button" class="btn btn-outline-secondary" id="addNode" data-bs-toggle="modal" data-bs-target="#nodeModal" data-bs-action="add">Add New ISO Node</button>
						<button type="button" class="btn btn-outline-secondary disabled" id="editNode" data-bs-toggle="modal" data-bs-target="#nodeModal" data-bs-action="edit">Edit Node</button>
						<button type="button" class="btn btn-outline-secondary disabled" id="resyncNode">Resync Node</button>
						<button type="button" class="btn btn-outline-secondary disabled" id="startNode">Start Node</button>
						<button type="button" class="btn btn-outline-secondary disabled" id="stopNode">Stop Node</button>
					</div>
				</div>
			</div>
			<br/>
			
			<!-- Modals -->
			<!-- ISO Node Modal -->
			<div class="modal face" id="nodeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ISO Node Modal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<form id="formNodeModal">
							<div class="modal-header">
								<h5 class="modal-title" id="titleNodeModal"></h5>
								<button type="button" id="btnCloseNodeModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
									<div class="mb-3">
										<label for="isoNodeNameModal" class="col-form-label">Node Name:</label>
										<input type="text" class="form-control" id="isoNodeNameModal" required>
										<div class="invalid-feedback">
											Please choose a Node Name.
										</div>
									</div>
									<div class="mb-3">
										<label for="isoNodeTypeModal" class="col-form-label">Type Connection:</label>
										<select class="form-select" id="isoNodeTypeModal" required>
											<option selected></option>
											<option value="C">Client</option>
											<option value="S">Server</option>
										</select>
										<div class="invalid-feedback">
											Please choose a Node Type.
										</div>
									</div>
									<div class="mb-3">
										<label for="isoNodeHostModal" class="col-form-label">Host / IP:</label>
										<input type="text" class="form-control" id="isoNodeHostModal"/>
									</div>
									<div class="mb-3">
										<label for="isoNodePortModal" class="col-form-label">Port:</label>
										<input type="number" class="form-control" id="isoNodePortModal" required>
										<div class="invalid-feedback">
											Please choose a Port.
										</div>
									</div>
									<div class="mb-3">
										<label for="isoChannelIdModal" class="col-form-label">Iso Channel:</label>
										<select class="form-select" id="isoChannelIdModal" required>
											<option selected></option>
										</select>
										<div id="isoChannelHelp" class="form-text">
											<span></span>
										</div>
										<div class="invalid-feedback">
											Please choose a Iso Channel.
										</div>
									</div>
									<div class="mb-3">
										<label for="isoTemplateIdModal" class="col-form-label">Iso Template:</label>
										<select class="form-select" id="isoTemplateIdModal" required>
											<option selected></option>
										</select>
										<div id="isoTemplateHelp" class="form-text">
											<span></span>
										</div>
										<div class="invalid-feedback">
											Please choose a Iso Template.
										</div>
									</div>
									<div class="mb-3">
										<label for="isoNodeTimeOutModal" class="col-form-label">Time Out (MilliSeconds):</label>
										<input type="number" min="0" class="form-control" id="isoNodeTimeOutModal">
									</div>
									<div class="mb-3">
										<label for="isoNodeReconnectDelayModal" class="col-form-label">Reconnect Delay (MilliSeconds):</label>
										<input type="number" min="0" class="form-control" id="isoNodeReconnectDelayModal">
									</div>
									<div class="mb-3">
										<label for="isoNodeVisibilityModal" class="col-form-label">Type Visibility:</label>
										<select class="form-select" id="isoNodeVisibilityModal" required>
											<option selected></option>
											<option value="A">Anyone</option>
											<option value="U">Only me</option>
										</select>
										<div class="invalid-feedback">
											Please choose a Type Visibility.
										</div>
									</div>
									<div class="mb-3">
										<label for="isoNodeDescriptionModal" class="col-form-label">Description:</label>
										<textarea class="form-control" id="isoNodeDescriptionModal" rows="3"></textarea>
									</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary" id="btnSaveNodeModal">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			
			<!-- OBSERVACION
			Contemplar dejar los Toast en el home con un atributo variable para customizar los mensajes
			 -->
			<!-- Toast -->
			<div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
				<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
				  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
				    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
				  </symbol>
				  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
				    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
				  </symbol>
				  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
				    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				  </symbol>
				</svg>
			
				<!-- Toast de relleno -->
				<div class="toast bg-primary align-items-center top-0" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="d-flex">
						<div class="toast-body">
							<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
					  		The Node's information has been saved.
						</div>
					</div>
				</div>
				
				<!-- Success Alert -->
				<div class="toast bg-light align-items-center top-0" role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
					<div class="d-flex">
						<div class="toast-body">
							<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
					  		The Node's information has been saved.
						</div>
					</div>
				</div>
				
				<!-- Failed Alert -->
				<div class="toast bg-warning align-items-center top-0" role="alert" aria-live="assertive" aria-atomic="true" id="failedToast">
					<div class="d-flex">
						<div class="toast-body">
							<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Failed:"><use xlink:href="#exclamation-triangle-fill"/></svg>
					  		An error has occurred trying saved the Node, please checked the data and try again.
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>